* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #f6f6f6;
  color: #3e3c42;
  margin: 0;
  line-height: 2;
  letter-spacing: 0.1rem;
  font-weight: 500;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
  height: auto;
}

/* Nav */
h1 {
  margin: 0;
  padding: 75px;
  font-weight: 100;
  color: yellow;
  text-align: center;
}

.open {
  color: #3e3c42;
  font-size: 40px;
  position: fixed;
  right: 5px;
  padding-top: 0.5rem;
  cursor: pointer;
  display: block;
}

.navbar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  background-color: rgba(0, 136, 201, 0.8);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  display: block;
  overflow-x: hidden;
}

#nav {
  text-align: center;
}

#nav li {
  padding: 1.2rem 0;
  list-style-type: none;
}

.nav-link:hover {
  color: #faef54;
}

.nav-link {
  color: #fafafa;
  text-decoration: none;
}

.close {
  float: right;
  font-size: 44px;
  color: #fafafa;
  display: block;
  text-decoration: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  padding: 0.25em;
}

/* main-content */

#main-doc {
  display: grid;
  grid-template-columns: 20px 1fr 20px;
  grid-auto-rows: minmax(100px, auto);
  grid-row-gap: 125px;
  padding-left: 0.75rem;
}

#main-doc > * {
  grid-column: 2;
  min-width: 0;
}

.main-section > * {
  padding-bottom: 50px;
}

.main-section header h2 {
  font-size: 1.75rem;
  font-weight: 400;
}

.main-section h3 {
  font-size: 1.25rem;
  font-weight: 400;
}

.main-section ul {
  list-style-type: lower-roman;
  font-size: 0.85rem;
  font-weight: 600;
}

#custom_properties {
  padding-top: 75px;
}

/* code samples */

.code-snippet {
  color: #0088c9;
}

.language-css > code {
  font-size: 12px;
}

#attribution > * {
  font-size: 0.85rem;
  text-align: center;
}

#attribution a {
  color: #179ee0;
}

#attribution a:hover,
#attribution a:focus {
  color: #179ee0;
  opacity: 0.7;
}

/* media Queries */

@media screen and (min-width: 770px) {
  .close,
  .open {
    display: none;
  }

  .navbar {
    width: 250px;
    top: 0;
    left: 0;
  }

  #main-doc {
    grid-template-columns: 250px 1fr 40px;
    padding-left: 40px;
  }

  h1 {
    text-align: initial;
    margin-top: 1rem;
    padding: 1rem;
  }

  #nav {
    padding: 0.75rem;
    text-align: initial;
  }

  #nav li {
    padding: 0.75rem 0;
    list-style-type: none;
    font-size: 1.1rem;
  }
}
