* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

/* body {
  font-family: "Roboto", sans-serif;
  background-color: #fafafa;
  color: #3e3c42;
  margin: 0;
  line-height: 2;
  letter-spacing: 0.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  grid-template-columns: 1fr 3fr;
}

h1,
h2,
h3 {
  color: #4b484f;
} */

/* NAVBAR */

/* #navbar {
  background-color: #f0f0f0;
  min-width: 25%;
}

#navbar h1 {
  margin-left: 1rem;
}

#fixed-nav {
  position: fixed;
}

#nav {
  margin-left: 1rem;
  padding: 0;
}

#nav li {
  list-style: none;
}

.nav-link {
  color: #3e3c42;
  font-size: 1.25rem;
}

.nav-link:hover {
  color: #1481ba;
} */

/* MAIN-DOC */

/* #main-doc {
  max-width: 75%;
  padding: 1.75rem;
}

header {
  margin: 4rem 0 2rem;
}

p {
  margin: 0 auto;
  max-width: 1000px;
} */

/* Code  */

/* h3 {
  margin: 4rem 0 2rem;
}

.code-snippet {
  color: #fafafa;
  background-color: rgba(26, 26, 26, 0.7);
  padding: 0.1rem;
}

.code-block {
  text-align: left;
  white-space: pre;
  line-height: 2;
  border-radius: 5px;
  color: grey;
  background-color: #1a1a1a;
  margin: 1.5rem 0 2rem;
}

code {
  font-family: "Source Code Pro", monospace;
}

.class,
.id {
  color: #f5d67b;
}

.selector {
  color: #9c27b0;
}

.property {
  color: #72e0d1;
}

.number {
  color: #fc9463;
}

.unit {
  color: #eeb902;
}

.comment {
  color: #5e7671;
  font-style: italic;
}

.punctuation {
  color: #72e0d1;
}

.value {
  color: #fc9463;
}

.special {
  color: #ddda0f;
} */

/* browser support */

/* .browser-support {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.support-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: flex-end;
}

table {
  background-color: #2b2e31;
  width: 300px;
  height: 200px;
}

tr {
  text-align: center;
  background-color: #fafafa;
  color: #25292d;
}

.support {
  background-color: #39b54a;
}

.partial {
  background-color: #a8bd04;
}

.no-support {
  background-color: #c44230;
}

.support,
.partial,
.no-support {
  color: #fafafa;
} */

/* button */

/* .credit {
  text-transform: uppercase;
  border: 2px solid #1481ba;
  background-color: #1481ba;
  border-radius: 5%;
  padding: 0.5em;
  color: #fafafa;
  margin-right: 1.5rem;
}

.credit:hover {
  background-color: #1481ba;
  opacity: 0.7; 
} */

/* Attribution */

/* #attribution {
  text-align: center;
  padding: 1.5rem 0;
}

#attribution a {
  color: #1f1f1f;
}

#attribution a:hover {
  opacity: 0.7;
} */
